body {
    font-family: Arial, sans-serif;
    background-color: #eb0808;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
}

main {
    padding: 2em;
}

#main-title {
    color: orange;
}

footer {
    background-color: #333;
    color: white;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
